@{
    ViewData["Title"] = "Results";
}
<main>
    <div class="guid-wrapper">
        <div class="message-wrapper">
            Entrez votre code personnel et vérifiez vos gains !
        </div>
        <div class="shortGUID-wrapper">
            <input type="text" name="shortGUIDshortGUID">
        </div>
        <div class="guid-validate">
            <button type="submit">Verifier mes gains</button>
        </div>
    </div>

    <div class="result-wrapper">
        <div class="result-date-wrapper">
            <div class="title-date">Date du tirage</div>
            <div class="result-date">
                <div class="sum-win">21 Juin 2022 - 14:05</div>
            </div>
        </div>

        <div class="result-draw-wrapper">
            <div class="title-draw">Résultat du tirage</div>
            <div class="game-draw">
                <div class="grid-draw">1</div>
                <div class="grid-draw">2</div>
                <div class="grid-draw">3</div>
                <div class="grid-draw">4</div>
                <div class="grid-draw">5</div>
                <div class="grid-draw">6</div>
                <div class="grid-draw">7</div>
            </div>
        </div>

        <div class="result-game-wrapper">
            <div class="title-game">Votre tirage</div>
            <div class="game-game">
                <div class="grid-draw">1</div>
                <div class="grid-draw">2</div>
                <div class="grid-draw">3</div>
                <div class="grid-draw">4</div>
                <div class="grid-draw">5</div>
                <div class="grid-draw">6</div>
                <div class="grid-draw">7</div>
            </div>
        </div>

        <div class="result-win-wrapper">
            <div class="title-win">Votre gain</div>
            <div class="game-win">
                <div class="sum-win">rang 3 : 250€</div>
            </div>
        </div>
    </div>
</main>