@model IEnumerable<Loterie.Models.Session>

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="jackpot-wrapper">
        <div class="jackpot-title">Cagnotte actuelle</div>
        <div class="jackpot-value">
            @foreach (var item in Model)
            {
                if (item.Jackpot == Model.Count())
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.Jackpot)
                    </div>
                }
                
            }
        </div>
    </div>

    <div class="grid-wrapper">
        @for (int i = 0; i < 7; i++)
        {
            <div class="grid-line">
                @for (int x = 1; x <= 7; x++)
                {
                    <div id="@(7 * i + x)" class="grid-button">@(7 * i + x)</div>
                }
            </div>
        }
    </div>  

    <div class="button-wrapper">
        <div class="button-flash">
            <button></button>
        </div>
        <div class="button-validate">
            <button type="submit">Valider ma grille</button>
        </div>
        <div class="button-reset">
            <button type="reset"></button>
        </div>
    </div>
</main>
